@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
:root {
  --main: #cd2e0a;
  --accent1: #003a70;
  --accent2: #fff1b5;
  --var1: rgb(232, 232, 232);
  --var2: rgb(128, 128, 128);
  --var3: rgb(67, 67, 67);
}

body.shiny {
  --main: #8e44ad;
  --accent1: #2c1654;
  --accent2: #f9e4ff;
}

body {
  margin: 0px;
  background-color: var(--accent2);
  overflow: hidden;
}

body * {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: var(--main);
  text-align: center;
  margin-bottom: 3%;
  padding: 2%;
}
h1 {
  color: var(--accent2);
  font-family: "Fredoka One", cursive;
  font-size: 40px;
}

#game_grid {
  border: 4px solid var(--main);
  border-radius: 10px;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33.3%;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
}

img {
  width: 100%;
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flip {
  transform: rotateY(180deg);
}

.front_face {
  transform: rotateY(180deg);
}

#stats {
  display: flex;
}

.stat_element {
  display: inline-block;
  margin: auto;
  padding: 1%;
  color: var(--accent2);
  font-size: 16px;
}

form {
  display: flex;
  justify-content: center;
}

fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2%;
  border-color: var(--accent2);
  border-radius: 10px;
  margin: 2%;
}

#setting_legend {
  color: var(--accent2);
  font-size: 20px;
}

#difficulty_group,
#controls_group,
#options_group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

input[type="button"] {
  background-color: var(--accent1);
  color: var(--accent2);
  border: 1px solid var(--accent2);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

input[type="button"]:hover {
  background-color: var(--accent2);
  border: 1px solid var(--accent1);
  color: var(--main);
}

.difficulty_buttons.active {
  background-color: var(--accent2);
  border: 1px solid var(--accent1);
  color: var(--accent1);
}

#result {
  display: flex;
  justify-content: center;
}

#result_text {
  color: var(--main);
  padding: 2%;
}
